body{
    background-color: black;
    height: 100%;
}

.absolute{
    position: absolute;
}

#score{
    top: 0.5%;
    right: 0.5%;

    font-family: Consolas, Consolas;
    color: white;
    text-shadow: 2px;

    font-size: 2.0vh;
}

#loading{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 100%;
    height: 100%;

    font-family: Consolas, Consolas;
    font-size: 2.5vh;

    z-index: 99;
}